<h1>Choose your website template:</h1>

<ul class="list-inline">
	<li>
		<div class="col-lg-6 col-sm-6">
	    <a href="/template_nr1" class="portfolio-box">
	      <img src="bootstrap/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
	    </a>
	</div>
	</li>
	<li>
		<div class="col-lg-6 col-sm-6">
	    <a href="bootstrap/portfolio/fullsize/3.jpg" class="portfolio-box">
	      <img src="bootstrap/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
	    </a>
	</div>
	</li>
	<li>
		<div class="col-lg-6 col-sm-6">
			<a href="bootstrap/portfolio/fullsize/4.jpg" class="portfolio-box">
			  <img src="bootstrap/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
			</a>
			</div>
	</li>
</ul>


