<h1>Log in:</h1>

<%= form_tag check_logins_users_path do %>
		<h3>Name</h3>
    <%= text_field_tag :name %>		
    <h3>Password</h3>
    <%= text_field_tag :user_password %>
    <br>
    <h3></h3>
    <%= submit_tag "Send input" %>
<% end %>