<div style="
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../bootstrap/header.jpg');
  text-align: center;
  color: white;
">

<div style="clear: both;">&nbsp;</div>
<div style="clear: both;">&nbsp;</div>
<div style="clear: both;">&nbsp;</div>


</div>