<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body id="page-top">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">E-commerce website in no time!</h1>
                <hr>
                <p>Start using our user frendly e-commerce website shop builder and create your own shop without any programming skills!</p>
                <a href="/register" class="btn btn-primary btn-xl page-scroll">Build now!</a>
            </div>
        </div>
    </header>

</body>

</html>
